<template name="About">

    {{> pageHeading title='About'}}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-left m-t-lg">
                    <h3 title="Also joint Computer Science major in order to enroll in restricted classes.&#9786;">
                        I'm a <strong>Computational Mathematics</strong> student in University of Waterloo.
                    </h3>
                </div>
                <div class="text-left m-t-lg">
                    <h3 title="Because I always mess up circuits so I can only be an amateur.&#128540;">
                        I'm a <strong>software developer</strong> and a hardware amateur.
                    </h3>
                </div>
                <div class="text-left m-t-lg">
                    <h3 title="Anything fun is great for me!&#x1f604;">
                        I like <strong>AI and data science</strong>, as well as web/app development.
                    </h3>
                </div>
                <div class="text-left m-t-lg">
                    <h3 title="As long as I don't need to work overtime.&#x1f60f;">
                        I favor agile methodology and prefer <strong>teamwork</strong>.
                    </h3>
                </div>
                <div class="text-left m-t-lg">
                    <h3 title="But I cannot afford those new technology.&#x2639;">
                        I love <strong>new technology</strong>, gaming and swimming.
                    </h3>
                </div>
                <div class="text-left m-t-lg">
                    <h3 title="Come on just download it!">
                        Click <a target="_blank" href="/homepage.pdf">here</a> to download my <strong>Resume</strong> for more information.
                    </h3>
                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
              <br>
              <h3>
                Contact Infomation:
              </h3>
                <h3>
                    <i class="fa fa-envelope"></i>&nbsp;
                    <a href="mailto:stidzhang@gmail.com">stidzhang@gmail.com</a>
                </h3>
                <h3>
                  <i class="fa fa-envelope"></i>&nbsp;
                  <a href="mailto:z384zhan@edu.uwaterlo.ca">z384zhan@edu.uwaterloo.ca</a>
                </h3>
                <h3>
                  <i class="fa fa-github"></i>
                  <a href="https://github.com/StidZhang">
                      &nbsp;Github&nbsp;</a>
                </h3>
                <h3>
                  <i class="fa fa-linkedin"></i>
                  <a href="https://ca.linkedin.com/in/stid-zhang-411667102">
                      &nbsp;LinkedIn&nbsp;</a>
                </h3>
            </div>
        </div>
    </div>
</template>
