<template name="about">

    {{> pageHeading title='About Me'}}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-left m-t-lg">
                    <h2>
                        I'm a
                        <strong>Computational Mathematics</strong> Joint Computer Science
                        student in University of Waterloo.
                    </h2>
                </div>
                <div class="text-left m-t-lg">
                    <h2>
                        I'm a
                        <strong>software engineer</strong>
                        and a hardware enthusiast.
                    </h2>
                </div>
                <div class="text-left m-t-lg">
                    <h2>
                        I'm experienced in <strong>web development</strong>, and I also like
                        <strong>data science and machine learning</strong>.
                    </h2>
                </div>
                <div class="text-left m-t-lg">
                    <h2>
                        I favor agile methodology and enjoy
                        <strong>working as a team</strong>.
                    </h2>
                </div>
                <div class="text-left m-t-lg">
                    <h2>
                        I love
                        <strong>new technology</strong>, travelling and having fun.
                    </h2>
                </div>
                <div class="text-left m-t-lg">
                    <h2>
                        I'm looking for <strong>full-time opportunity<strong> in Canada,
                        preferably in Toronto/Waterloo area.
                    </h2>
                </div>
                <div class="text-left m-t-lg">
                    <h2>
                        Click
                        <a target="_blank" href="/resume.pdf">HERE</a>
                        to download my
                        <strong>Resume</strong>
                        for more information.
                    </h2>
                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <br><br>
                <h3>
                    Contact Infomation:
                </h3>
                <h3>
                    <i class="fa fa-github"></i>
                    <a href="https://github.com/StidZhang">
                        &nbsp;Github&nbsp;</a>
                </h3>
                <h3>
                    <i class="fa fa-linkedin"></i>
                    <a href="https://www.linkedin.com/in/stidzhang/"">
                        &nbsp;LinkedIn&nbsp;</a>
                </h3>
                <h3>
                    <i class="fa fa-envelope"></i>&nbsp;
                    <a href="mailto:stidzhang@gmail.com">stidzhang@gmail.com</a>
                </h3>
                <h3>
                    <i class="fa fa-envelope"></i>&nbsp;
                    <a href="mailto:z384zhan@edu.uwaterloo.ca">z384zhan@edu.uwaterloo.ca</a>
                </h3>
            </div>
        </div>
    </div>
</template>
