<template name="contact">

    {{> pageHeading title='Contact'}}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="col-lg-12">
            <div class="row text-left m-t-md">
                    <h2>
                        <i class="fa fa-envelope"></i>&nbsp;Email:&nbsp;stidzhang@gmail.com
                    </h2>
            </div>
            <div class="row text-left m-t-md">
                    <h2>
                        <i class="fa fa-github"></i>&nbsp;Github:&nbsp;<a href="https://github.com/StidZhang">Stid Zhang</a>
                    </h2>
            </div>
            <div class="row text-left m-t-md">
                    <h2>
                        <i class="fa fa-linkedin"></i>&nbsp;LinkedIn:&nbsp;<a href="https://ca.linkedin.com/in/stid-zhang-411667102">Stid Zhang</a>

                    </h2>
            </div>
        </div>
    </div>
</template>
